h1 {
    background-color: yellowgreen;
    text-align: center;
}

div{
    display: flex;
}

nav {
    background-color: #272D33;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    font-size: 30px;
    padding: 5px;
}
 


.items:hover {
    background-color: gray;
    opacity: 0.5;
}
 
me{
    justify-content: center;
}
